#Java
*.class
target/
build/

#Node/React
node_modules/
frontend/build/
frontend/junit.xml
.gitlab-ci-local/

#Environment
.env

#Docker
mysql-data/

#IDE
.idea/
.vscode/
*.iml

#OS
.DS_Store
Thumbs.db
